cachetools==7.0.3
certifi==2026.2.25
charset-normalizer==3.4.5
environs==9.5.0
grpcio==1.78.0
idna==3.11
marshmallow==3.20.1
milvus-lite==2.4.12
numpy==2.4.2
orjson==3.11.7
packaging==26.0
pandas==3.0.1
protobuf==7.34.0
pymilvus==2.6.9
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.32.5
six==1.17.0
tqdm==4.67.3
typing_extensions==4.15.0
ujson==5.11.0
urllib3==2.6.3
fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.5.0
pydantic-settings==2.1.0
jinja2==3.1.3
